<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>ex-dischi-musicali</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
    </head>
    <body>

      <div id="root">

        <header>
            <div class="container">
                <img src="logo.png" alt="logo" />
                <select v-model="selectedGenre" @change="diskFilter()">
                  <option value="All">All</option>
                  <option v-for="genre in genreList" :value="genre"> {{genre}} </option>
                </select>
            </div>
        </header>
        <div class="cds-container container">
            <!-- Disco ad esempio -->
            <div v-if="disk.visible == true" v-for="disk in diskList" class="cd">
                <img :src="disk.poster" :alt="disk.title">
                <h3> {{disk.title}} </h3>
                <span class="author"> {{disk.author}} </span>
                <span class="year"> {{disk.year}} </span>
            </div>
        </div>


      </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
